{% extends "home/base_home.html" %}

{% block content %}
{% load staticfiles %}

    {% include "include/header.html" %}

    <div class="container panel-container">
        <div class="row">
            <div class="col s5">
                <a class="waves-effect waves-light btn btn-back" href="{% url 'torneo_app:listar_persona' %}"><i class="fa fa-chevron-left left"></i>Regresar</a>    
            </div>
            <div class="col s7">
                <h5>Modificando: {{ object }}</h5>    
            </div>
        </div>


        <div class="divider"></div>
        {% if form.errors %}
            <div class="card-panel red lighten-1">
                <span class="white-text"> {{ form.errors }} </span>
            </div>
            <div class="divider"></div>
        {% endif %}
        <div class="row">
            <div class="col s12 m6 l6">
                <div class="card-panel">
                    <div class="row">
                        <form class="col s12" action="{% url 'torneo_app:modificar_persona' persona.pk %}" method="POST">{% csrf_token %}
                            
                            <div class="row">
                                <div class="input-field col s12">
                                    {{ form.nombre }}
                                    {{ form.nombre.label_tag }}
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="input-field col s12">
                                    {{ form.apellidos }}
                                    {{ form.apellidos.label_tag }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    {{ form.email }}
                                    {{ form.email.label_tag }}
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="input-field col s12">
                                    {{ form.direccion }}
                                    {{ form.direccion.label_tag }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    {{ form.sexo }}
                                    {{ form.sexo.label_tag }}
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="input-field col s12">
                                    {{ form.telefono }}
                                    {{ form.telefono.label_tag }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    {{ form.fecha_nacimiento }}
                                    {{ form.fecha_nacimiento.label_tag }}
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="input-field col s12">
                                    {{ form.foto }}
                                    {{ form.foto.label_tag }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                      <button class="btn cyan waves-effect waves-light right" type="submit" name="action">actualizar
                                        <i class="mdi-content-send right"></i>
                                      </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- fin de card-panel -->

            </div>
        </div><!-- fin de row -->
        
    </div><!-- fin de panel-container -->
{% endblock content %}