{% extends "panel/base_panel.html" %}

{% block title %}panel{% endblock title %}

  {% block titulo_nav %} Liga Deportiva Unsaac{% endblock titulo_nav %}

    {% block funciones %}
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Mantenimientos</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="{% url 'torneo_app:listar_CampoD' %}">Campo Deportivo</a></li>
                        <li><a href="{% url 'equipo_app:listar-facultad' %}">Facultad</a></li>
                        <li><a href="#">Arbitros</a></li>
                        <li><a href="#">Importe Pagos</a></li>
                        <li><a href="#">Fixture</a></li>
                        <li class="divider"></li>
                        <li><a href="#">mantenimiento 1</a></li>
                        <li><a href="#">mantenimiento 1</a>
                        <li><a href="#">mantenimiento 1</a></li>
                        <li class="divider"></li>
                        <li><a href="#">mantenimiento 1</a></li>
                        <li><a href="#">mantenimiento 1</a></li>
                    </ul>
                </div>
            </li>
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Procesos</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="{% url 'users_app:agregar-administrador' %}">Agregar Administrador</a></li>
                        <li><a href="#">proceso 1</a></li>
                        <li><a href="#">proceso 1</a></li>
                        <li><a href="#">proceso 1</a></li>
                        <li><a href="#">proceso 1</a></li>
                        <li><a href="#">proceso 1</a></li>
                        <li><a href="#">proceso 1</a></li>
                        <li><a href="#">proceso 1</a></li>
                    </ul>
                </div>
            </li>
            <li class="bold"><a class="collapsible-header waves-effect waves-teal">Consultas</a>
              <div class="collapsible-body">
                    <ul>
                        <li><a href="#">Consulta 1</a></li>
                        <li><a href="#">Dialogs</a></li>
                        <li><a href="#">Dropdown</a></li>
                        <li><a href="#">Media</a></li>
                        <li><a href="#">Modals</a></li>
                    </ul>
              </div>
            </li>
        </ul>
        <div class="col s1">
                <a class="waves-effect waves-light btn btn-back" href="#"><i class="fa fa-chevron-left left"></i>Home</a>    
    </div>
    </li>
    {% endblock funciones %}