{% extends "panel/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}

    <div class="container panel-container">
        <div class="row">
            <div class="col s6 m4">
                <p><a class="waves-effect waves-light btn" href="{% url 'equipo_app:registrar-facultad' %}"><i class="fa fa-plus left"></i>Agregar Facultad</a></p> 
            </div>
        </div>
        <div class="row">
        <table class="hoverable centered bordered responsive-table">
            <thead>
                <tr>
                <th>Nombre</th>
                <th>Sigla</th>
                </tr>
            </thead>
            <tbody>
            {% for facultad in  facultades %}
                <tr>
                    <td>{{ facultad.nombre }}</td>
                    <td>{{ facultad.siglas }}</td>
            
                    <td>
                        <a href="{% url 'equipo_app:detalle-facultad' facultad.pk %}" class="waves-effect waves-light btn panel-btn green"><i class="fa fa-eye"></i></a>
                        <a href="{% url 'equipo_app:modificar-facultad' facultad.pk %}" class="waves-effect waves-light btn panel-btn yellow"><i class="fa fa-edit"></i></a>
                        <a href="{% url 'equipo_app:eliminar-facultad' facultad.pk %}" class="waves-effect waves-light btn panel-btn red"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>            
          {% endfor %}

            </tbody>
        </table>
      </div>
    </div>
{% endblock contenido_panel %}