            <div class="col s12">
                <h5>Eliminando: {{ object }}</h5>    
            </div>

                <form action="{% url 'libro_app:delete-libro' object.pk %}" method="POST">{% csrf_token %}
                    <div class="col s12">
                        <h6 class="center-align">¿Desea eliminar este obejto"{{ object }}"?</h6>
                    </div>
                    <div class="col s12 center">
                        <button class="waves-effect waves-light btn btn-panel red" type="submit" name="action">si</button>
                        <a href="{% url 'libro_app:listar-libro'%}" class="waves-effect waves-light btn panel-btn white black-text">no</a>
                    </div>
                </form>                          