{% extends "home/base_home.html" %}

{% block content %}
{% load staticfiles %}

    {% include "include/header.html" %}

    <div class="container panel-container">
      <div class="row">
          <div class="col s6 m4">
          <p><a class="waves-effect waves-light btn" href="{% url 'prueba_app:registrar_equipo' %}"><i class="fa fa-plus left"></i>agregar Equipo</a></p> 
        </div>
        <form class="col s6" method="POST" enctype="multipart/form-data" id="form_datos">{% csrf_token %}
                      <div class="row">
                        <div class="input-field col s6">
                            {{form.clave}}
                            {{form.clave.label_tag}}
                        </div>
                        <div class="row">
                                <div class="input-field col s6">
                                      <button class="waves-effect waves-light btn" type="submit" name="action">
                                        <i class="mdi-action-search right"></i>
                                      </button>
                                </div>
                        </div>            
                      </div>
        </form>
      </div>
      <div class="divider"></div>
      <div class="row">
        <table class="hoverable centered bordered responsive-table">
        <thead>
          <tr>
              <th>Nombre</th>
              <th>facultad</th>
              <th>delegado</th>
              <th>num jugadores</th>             
          </tr>
        </thead>
        <tbody>

          {% for equipo in  equipos %}
            <tr>
              <td>{{ equipo.nombre }}</td>
              <td>{{ equipo.facultad }}</td>
              <td>{{ equipo.delegado }}</td>
              <td>{{ equipo.num_jugadores }}</td>
              <td>
                <a href="{% url 'prueba_app:detalle_equipo' equipo.pk %}" class="waves-effect waves-light btn panel-btn green"><i class="fa fa-eye"></i></a>
                <a href="{% url 'prueba_app:modificar_equipo' equipo.pk %}" class="waves-effect waves-light btn panel-btn yellow"><i class="fa fa-edit"></i></a>
                <a href="{% url 'prueba_app:eliminar_equipo' equipo.pk %}" class="waves-effect waves-light btn panel-btn red"><i class="fa fa-trash-o"></i></a>
              </td>
            </tr>            
          {% endfor %}

        </tbody>
      </table>
      </div>
    </div>
{% endblock content %}